@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f9f9f9;
    min-height: 100vh;
    overflow-x: hidden;
}

header {
    position: absolute; /* 使用絕對定位 */
    top: 6%; /* 垂直居中 */
    left: 50%; /* 水平居中 */
    transform: translate(-50%, -50%); /* 偏移自身寬高的一半，精確置中 */
    padding: 20px 100px;
    display: flex;
    justify-content: center; /* 內容水平居中 */
    align-items: center; /* 內容垂直居中 */
    z-index: 100;
    border-bottom:2px solid white;
}



.navigation a {
    text-decoration: none;
    color:white;
    padding: 6px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}

.navigation a:hover,
.navigation a.active {
    background-color: rgba(255, 255, 255, 0.8); 
    color:rgb(0, 176, 220)
}



.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
}

.parallax img {
    position: absolute; /* 絕對定位，讓所有圖片重疊在一起 */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* 將圖片中心對齊容器中心 */
    max-width: 100%; /* 確保圖片不會超出容器 */
    max-height: 100%; /* 確保圖片不會超出容器高度 */
    object-fit: cover; /* 確保圖片比例不變 */
}


#text {
    position: absolute; /* 必須設置為定位模式以便調整位置 */
    top: 30%; /* 調整到容器高度的 40% */
    left: 50%; /* 保持水平居中 */
    transform: translate(-50%, -50%); /* 水平和垂直方向居中對齊 */
    font-size: 3em;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.sec {
    position: relative;
    background: #fff;
    padding: 100px;
}

.sec h2 {
    font-size: 3em;
    color: rgb(0, 125, 220);
    margin-bottom: 10px;
}

.sec p {
    font-size: 1em;
    color: #333;
    font-weight: 300;
}