@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* 全局樣式 */
body, html {
    margin: 0;
    padding: 0;
    min-height: 100%;
    overflow-x: hidden;
}

header {
    position: absolute;
    top: 4%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 7px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    border-bottom: 2.3px solid white;
    width: 65%;
}


.navigation a {
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border-radius: 20px;
    margin: 0 22px;
    font-size: 17px;
    font-weight: 600;
    white-space: nowrap; /* 禁止文字換行 */
}

.navigation a:hover,
.navigation a.active {
    background-color: rgba(255, 255, 255, 0.8);
    color: rgb(0, 176, 220);
}

/* 保持水平排列樣式 */
.navigation .navbar-nav {
    display: flex; /* 強制水平排列 */
    
}




/* Parallax section */
.parallax {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
}

.parallax img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.2s ease-out;
}

#text {
    position: absolute;
    top: 27%;
    left: 40%;
    transform: translate(-50%, -50%);
    font-size: 80px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    font-family: serif;
    font-weight:bold;
    text-align: left; 
    
}

/* Section styling */
.sec {
    position: relative;
    background: #fff;
    padding: 50px 100px;
}

.sec h2 {
    text-align: center;
    font-size: 25px;
    color: rgb(0, 0, 0);
    margin-bottom: 10px;
    font-family: STHeiti;
}

.sec p {
    text-align: center;
    font-size: 17px;
    color: #000000;
    font-weight: 300;
    font-family: STHeiti;
}

.weltolanyu-text{
    text-align: center;
    font-size: 90px;
    color: #000000;
    font-family:Arial;
    font-weight: 700;
}

.Lanyu-foto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px; /* 添加内边距以分隔图片 */
    white-space: nowrap; /* 確保所有列表項水平排列 */
}

.Lanyu-foto img {
    width: 300px; /* 设置统一的宽度 */
    height: auto; /* 自动调整高度 */
    margin: px; /* 图片之间的间距 */
}


.Lanyu-foto ul {
    display: flex;
    list-style: none; /* 移除點標記 */
    padding: 0;
    margin: 0;
}

.Lanyu-foto li {
    display: inline-block;
    margin-right: 10px; /* 設定圖片之間的間距 */
}

.simple-footer {
    background-color: rgb(0, 125, 220);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.simple-footer {
    background-image: url('pic1.PNG');
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center center; 
    text-align: center;
    padding: 150px 0;
    width: 100%;
    font-family: Arial, sans-serif;
    font-size: 14px;
 
}

@media (max-width: 768px) {
    header {
        padding: 18px 50px;
    }
    .navigation a {
        font-size: 14px;
    }
    #text {
        font-size: 2em;
    }
    .sec {
        padding: 20px;
    }
}

  